html{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	
			 
}


.flex{
	/*display: flex;*/
	background-color: green;
	width: 50%;
	margin-left: 25%;
	/*height: 50%;*/
	padding-bottom: 10%;
	padding-top: 0%;
	margin-top: 15%;
	border-radius: 5px;
}
button{

	border: none;
	padding: 0.7%;
	border-radius: 5px;
	width: 20%;
	margin-left: 40%;
	margin-top: 2%;

	
}

input{
	width: 40%;
	padding: 2%;
	margin-left: 30%;
	margin-top: 20%;
	border-radius: 5px;
	border: none;
	
}

.logosize{
	width: 55px;
	height: 55px;
}

.text_size{
	width: 190px;
}


svg .cls-1 {

	fill-opacity: 0.5;
	animation: color 2.5s ease forwards;
	animation-delay: 1s;
}

svg .cls-2 {

	fill-opacity: 0.5;
	animation: color 3s ease forwards;
	animation-delay: 2s;
}

svg .cls-3 {

	fill-opacity: 0.5;
	animation: color 3s ease forwards;
	animation-delay: 3s;
}

svg .cls-4 {

	fill-opacity: 0.5;
	animation: color 3s ease forwards;
	animation-delay: 4s;
}

svg .cls-5 {

	fill-opacity: 0.5;
	animation: color 3s ease forwards;
	animation-delay: 0s;

}

.logo path{
	stroke-dasharray: 600;
	stroke-dashoffset: 600;
	animation-iteration-count: infinite;
	animation-direction:  alternate;
	/*animation: anim 3s  forwards;*/

}

svg .cls-5:hover{
	 animation: rotate 2s infinite linear ;
  	transform-origin: center;
	fill: #888;

}

svg .cls-3:hover{
	fill: #888;

}

svg .cls-2:hover{
	fill: #888;

}

svg .cls-1:hover{
	fill: #888;

}

svg .cls-4:hover{
	fill: #888;

}


@keyframes rotate {
			from {
				transform: rotate(0deg);

			}
			to {
				transform: rotate(359deg);
				
			}
		}


@keyframes color{
	to{
		fill-opacity: 1;
		stroke-dashoffset: 0 ;

	}

}

.text-1{
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
	animation: color 7s  forwards;
	
	
}
/*.text-2{
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
	animation-iteration-count: infinite;
	animation: color 4s  infinite alternate;
}*/
.text-3{
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
	animation: color 3s  forwards;
}
.text-4{
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
	animation: color 4s  forwards;
}
.text-5{
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
	animation: color 5s  forwards;
}
/*.text-6{
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
	animation-iteration-count: infinite;
	animation: color 7s  infinite alternate;
}
.text-7{
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
	animation-iteration-count: infinite;
	animation: color 4s  infinite alternate;
}
.text-8{
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
	animation-iteration-count: infinite;
	animation: color 3s  infinite alternate;
}*/

.text-1:hover{
	fill:#CFCFCF ;
}
.text-2:hover{
	fill: #CFCFCF;
}
.text-3:hover{
	fill: #CFCFCF;
}
.text-4:hover{
	fill: #CFCFCF;
}
.text-5:hover{
	fill: #CFCFCF;
}
.text-6:hover{
	fill: #CFCFCF;
}
.text-7:hover{
	fill: #CFCFCF;
}
.text-8:hover{
	fill: #CFCFCF;
}



