html{
	display: block;
	width: 100%;
	height: 100%;

}


.flex{
	/*display: flex;*/
	background-color: green;
	width: 50%;
	margin-left: 25%;
	height: 50%;
	margin-top: 15%;
	border-radius: 5px;
}
button{

	border: none;
	padding: 0.7%;
	border-radius: 5px;
	width: 20%;
	margin-left: 40%;
	margin-top: 2%;

	
}

input{
	width: 40%;
	padding: 2%;
	margin-left: 30%;
	margin-top: 20%;
	border-radius: 5px;
	border: none;
	
}


svg{
	width: 55px;
	height: 55px;
}
.logo path{
	stroke-dasharray: 600;
	stroke-dashoffset: 600;
	animation: anim 3s  forwards;
}

svg g {

	fill-opacity: 0;
}


@keyframes anim{

	to{
		stroke-dashoffset: 0 ;
	}
}

